<div class="navbar-header">
  <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
  <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
</div>

<h1 highlight>{{title}}</h1>
<nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/competitors" routerLinkActive="active">Compétiteurs</a>
    <a routerLink="/profile" routerLinkActive="active" *ngIf="auth.authenticated()">Profile</a>
</nav>
<router-outlet></router-outlet>