
.profil-text-styling h1 {
    padding-top: 50px;
    padding-bottom: 40px;
    height: auto;
    margin-bottom: 8px;
}

.profil-text-styling .heading {
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.profil-text-styling h2 {
    font-size: 16px;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    text-transform: none;
    margin-top:5px;
    margin-bottom:0px;
}